<span us-spinner="{radius:50, width:13, length: 25}"></span>
<div class="panel panel-primary">
	<div class="panel-heading">
		 Activity Details
	</div>
	<div class="panel-body">
		<div class="col-xs-12 col-xs-offset-0">
			<div class="col-xs-12 col-xs-offset-0">
				<fieldset class="dashboradr-border">
					<legend class="dashboradr-border">Deatils </legend>
					<div class="grid" ng-grid="activityDetailgridOptions" id="grid1"></div>

				</fieldset>
			</div>
			<!-- <div class="col-xs-01 col-xs-offset-0">
				<div style="padding-bottom: 40px"></div>
				<button type="button" class="btn btn-primary" data-toggle="modal"
					modal-show="showDialog" data-target="#myModal">Update</button>
					
						<button type="button" class="btn btn-primary" data-toggle="modal"
					modal-show="showDialog" data-target="#myModal">Add</button>

				<div style="padding-bottom: 30px"></div>
				<button type="button" class="btn btn-primary" data-toggle="modal"
					modal-show="showDialog" data-target="#myModal">Delete</button>

			</div> -->
		</div>
		<div class="col-xs-12 col-xs-offset-0" style="padding-bottom: 10px"></div>
	</div>
</div>

